# Express server configuration
PORT=4000
CLIENT_ORIGIN=http://localhost:5173

# Algolia credentials
ALGOLIA_PERSON_APP_ID=OAMXW5KOPI
ALGOLIA_PERSON_API_KEY=54413b61fd201dd0e5217729b8e877a1
ALGOLIA_PERSON_INDEX=32541-zip
ALGOLIA_COURT_APP_ID=XETRL5GWC2
ALGOLIA_COURT_API_KEY=e641aeb79347262ebaa5fa2e743843e2
ALGOLIA_COURT_INDEX=okaloosa
